.features {
    font-size: 14px;
    line-height: 1.71;
}

@media screen and (max-width: 767px) {
    .features__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .features__title {
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .features {
        display: flex;
        flex-wrap: wrap;
    }

    .features__item {
        margin-right: 30px;
        margin-bottom: 30px;
        max-width: 354px;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .features {
        display: flex;
    }

    .features__item:not(:last-child) {
        margin-right: 30px;
    }
}

.features__color {
    background-color: #F5F4FA;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__title {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    color: var(--title-text-color);
    text-transform: uppercase;
}