.nav-menu {
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header__nav-menu {
    margin-left: 93px;
}

.nav-menu__item:not(:last-child) {
    margin-right: 50px;
}

.nav-menu__link {
    padding: 32px 0;
    color: var(--title-text-color);
}

.nav-menu__link--current {
    position: relative;
    color: var(--accent-color);

    &::after {
        content: "";
        position: absolute;
        display: flex;
        width: 100%;
        height: 4px;
        bottom: 0;
        background: var(--accent-color);
        border-radius: 2px;
    }
}